<ons-page ng-controller="LandingPageCtrl">
  <ons-toolbar>
    <div class="left"><ons-back-button>Page 1</ons-back-button></div>
    <div class="center">{{ mainNavi.topPage.data.title }}</div>
  </ons-toolbar>

    <div class="text-mid"
         style="position: absolute; bottom: 0;z-index:30;height: 53px; background-color: #3F998A;color: #FFFFFF;
         font-family: 'Lato-Regular'; line-height: 53px; text-align: center; width: 100%;"
         ng-click="goToShopListPage()">
        Second Page
    </div>

</ons-page>
