<ons-page  ng-controller="PageController">
  <ons-toolbar modifier="transparent; cover-content">
    <div class="left">
     <ons-back-button>Back</ons-back-button>
    </div>
  </ons-toolbar>

  <!-- <p>{{page.title}}</p> -->

<ons-list >
    <div id="searchbar-pos">
    <ons-search-input placeholder="Search City" id="search"></ons-search-input>
    </div>
  <ons-card id="card-view">
    <ons-list-item ng-click="openMallPage('hello')" ons-lazy-repeat="MyDelegate" >
      <div class="left">
        <i class="fa fa-map-marker" id="icon-city"></i>
      </div>
    <span class="list-item__title" >{{ item.title }}</span><span class="list-item__subtitle">{{ item.desc }}</span>
  </ons-list-item>
  </ons-card>
  </ons-list>
</div>
</ons-page>
