
<ons-page ng-controller="RegistrationController">
  <ons-toolbar modifier="transparent; cover-content">
    <div class="center">
      Sign Up
    </div>
    <div class="left">
     <ons-back-button>Back</ons-back-button>
    </div>
  </ons-toolbar>
  <div  id="main">

  <div id="logo">
      <img src="http://img14.deviantart.net/3f9e/i/2012/237/a/0/png_red_apple_by_paradise234-d5ccv8m.png">
  </div>

  <form name="signupForm">
      <input type="text" class="field_style" placeholder="Enter your name"
           onmouseup="return false;"
           name="name"
           ng-model="String"
           ng-keypress="keypressHandler($event, 11)" >
      <input type="email" class="field_style" placeholder="Enter email address"
             onmouseup="return false;"
             name="email"
             ng-model="email"
             ng-keypress="keypressHandler($event, 11)">

    <input type="tel" class="field_style" placeholder="Phone Number" required name="contact"
                    ng-model="string">

      <input type="password" class="field_style" placeholder="Password" required name="password"
             onfocus="this.select()"
             onmouseup="return false;"
             ng-model="user.password" id="f_11"
             ng-keypress="keypressHandler($event, 100, 11)">

      <input type="password" class="field_style" placeholder="Re-enter password" required name="confirm_password"
            onfocus="this.select()"
            onmouseup="return false;"
            ng-model="user.confirmPassword"
            compare-to="user.password">
  </form>


      <ons-button ng-click="openMallPage()" id="button">SIGN UP</ons-button>


</div>

</ons-page>
